#    
# Email : kph.acc@gmail.com
# Yahoo : kph_kph@yahoo.com
# Phone : +84902245620
# 
#  Session config                                           
#
# @author         $Author: kenchan ak binhlt $
# @copyright    (c) kenchan
# @package        K-CMS
# @since        Tue. 06th April 2010  
#        
#         
-----
# Metadata
GCMaxLifeTime : 86400*5
GCProbability : 1
GCDivisor : 100
SecurityCode : oz8ToUly6D6QdHkaonmI
TableName : netlink_sessions