#    
# Email : kph.acc@gmail.com
# Yahoo : kph_kph@yahoo.com
# Phone : +84902245620
# 
#  Action config                                           
#
# @author         $Author: kenchan ak binhlt $
# @copyright    (c) kenchan
# @package        K-CMS
# @since        Tue. 06th April 2010  
#
#   
cinema : 
    numberload : 32 # 32
    PageShow : 7 # 7
year :
    numberload : 32 # 32
    PageShow : 7 # 7
search :
    numberload : 32 # 32
    PageShow : 7 # 7
